
html, body, .main {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: url(../img/bg.jpg);
    background-size: 100% 100%;
}

.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.music {
    width: 0.6rem;
    height: 0.6rem;
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    background: url(../audio/music.svg) no-repeat;
    background-size: 100% 100%;
    z-index: 12;
    opacity: 0;
}

.musicCur {
    opacity: 1;
    -webkit-animation: move 1s linear infinite both;
    animation: move 1s linear infinite both;
}

@keyframes move {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

}

@-webkit-keyframes move {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

}

/*往上滑的图标*/
#span {
    width: 0.7rem;
    height: 0.7rem;
    background: url(../img/sh.png) no-repeat center;
    position: absolute;
    bottom: 1.2rem;
    left: 2.9rem;
    cursor: pointer;
    background-size: 95% 95%;
    z-index: 3;
}

.upDay {
    transition: 1s;
    -webkit-animation: up 1.5s linear infinite both;
    animation: up 1.5s linear infinite both;
}

@keyframes up {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 0.3rem);
    }
    100% {
        opacity: 0;
    }
}

/*第一页的个人简历*/
.slide1{
    opacity: 0;
}
#page1{
    opacity: 1;
}
#page1 h1{
    width: 0.9rem;
    height: 3.2rem;
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -0.45rem;
    margin-top: -3.2rem;
    -webkit-animation: fade 2s linear 1 both;
    animation: fade 2s linear 1 both;
}
/*渐隐渐现的效果*/
@keyframes fade {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        opacity: 0.5;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        opacity: 0.5;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(0.5);
    }
}

/*第二页*/
.slide2 {
    opacity: 0;
}

#page2 {
    opacity: 1;
    position: relative;
}

#page2 div {
    position: absolute;
    top: 2.4rem;
    right: 1rem;
    border: 1px solid transparent;
}

#page2 dl {
    width: 1.8rem;
    text-align: center;
    position: absolute;
    margin-top: 0.86rem;
    margin-left: 0.50rem;
}

#page2 dl dt {
    width: 1.8rem;
    height: 1.8rem;
    background: url(../img/my.jpg) no-repeat center;
    border-radius: 50%;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .3);
    background-size: 100% 100%;
    margin-bottom: 0.27rem;
}

#page2 dl dd {
    font-size: 0.3rem;
    color: #cecfcf;
    text-decoration: underline;
}

#page2 div ul li {
    font-size: 0.3rem;
    color: #fff;
    border-bottom: 1px solid #cecfcf;
    margin: 0 0 0.5rem 0;
    padding: 0 0.04rem;
}

#page2 div ul li span {
    display: inline-block;
    padding: 0.05rem 0;
}

#page2 p {
    width: 0.02rem;
    height: 5.3rem;
    background: #cecfcf;
    position: absolute;
    right: 3.1rem;
    top: 2.6rem;
}

#page2 dl {
    -webkit-animation: bounceInUp 2s 0.3s both;
    animation: bounceInUp 2s 0.3s both;
}

#page2 div {
    -webkit-animation: bounceInRight 2s 0.9s both;
    animation: bounceInRight 2s 0.9s both;
}

#page2 p {
    -webkit-animation: bounceInUp 2s 1.5s both;
    animation: bounceInUp 2s 1.5s both;
}

/*第三页*/
.slide3 {
    opacity: 0;
}

#page3 {
    opacity: 1;
    position: relative;
}

#page3 div {
    position: absolute;
    width: 4.5rem;
    margin-top: 0.86rem;
    margin-left: 0.50rem;
}

#page3 div span {
    color: white;
    font-size: 0.6rem;
}

#page3 div a:nth-of-type(1) {
    font-size: 0.25rem;
    color: #cecfcf;
    position: absolute;
    top: 0;
    left: 0.8rem;

}

#page3 div a:nth-of-type(2) {
    width: 2.5rem;
    height: 0.01rem;
    display: block;
    background: #cecfcf;
    position: absolute;
    top: 0.41rem;
    left: 0.8rem;
    z-index: 3;

}

#page3 div a:nth-of-type(3) {
    font-size: 0.25rem;
    color: #cecfcf;
    position: absolute;
    top: 0.4rem;
    left: 0.8rem;
}

#page3 .p1 {
    position: absolute;
    left: 1.5rem;
    top: 2.5rem;
}

#page3 .p1 span:nth-of-type(1) {
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    line-height: 1.1rem;
    text-align: center;
    font-size: 0.6rem;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
}

#page3 .p1 span:nth-of-type(2) {
    display: inline-block;
    font-size: 0.35rem;
    color: #cecfcf;
    padding-left: 0.2rem;
}

#page3 .p2 {
    position: absolute;
    left: 2.5rem;
    top: 4rem;
}

#page3 .p2 span:nth-of-type(1) {
    display: inline-block;
    font-size: 0.35rem;
    color: #cecfcf;
    padding-right: 0.2rem;
}

#page3 .p2 span:nth-of-type(2) {
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    line-height: 1.1rem;
    text-align: center;
    font-size: 0.6rem;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
}

#page3 .p3 {
    position: absolute;
    left: 1.5rem;
    top: 5.5rem;
}

#page3 .p3 span:nth-of-type(1) {
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    line-height: 1.1rem;
    text-align: center;
    font-size: 0.4rem;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
}

#page3 .p3 span:nth-of-type(2) {
    display: inline-block;
    font-size: 0.35rem;
    color: #cecfcf;
    padding-left: 0.2rem;
}

#page3 .p4 {
    position: absolute;
    left: 2.5rem;
    top: 7rem;
}

#page3 .p4 span:nth-of-type(1) {
    display: inline-block;
    font-size: 0.35rem;
    color: #cecfcf;
    padding-right: 0.2rem;
}

#page3 .p4 span:nth-of-type(2) {
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    line-height: 1.1rem;
    text-align: center;
    font-size: 0.32rem;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
}

#page3 div {
    -webkit-animation: bounceInUp 1s 0.3s both;
    animation: bounceInUp 1s 0.3s both;
}

#page3 p:nth-of-type(1) {
    -webkit-animation: zoomIn 2s 0.9s both;
    animation: zoomIn 2s 0.9s both;
}

#page3 p:nth-of-type(2) {
    -webkit-animation: zoomIn 2s 1.5s both;
    animation: zoomIn 2s 1.5s both;
}

#page3 p:nth-of-type(3) {
    -webkit-animation: zoomIn 2s 2.1s both;
    animation: zoomIn 2s 2.1s both;
}

#page3 p:nth-of-type(4) {
    -webkit-animation: zoomIn 2s 2.7s both;
    animation: zoomIn 2s 2.7s both;
}

/*第四页*/

.slide4 {
    opacity: 0;
}

#page4 {
    opacity: 1;
    position: relative;
}

#page4 div {
    position: absolute;
    margin-top: 0.86rem;
    margin-left: 0.80rem;
}

#page4 div span {
    color: white;
    font-size: 0.6rem;
    display: block;
}

#page4 div a:nth-of-type(1) {
    font-size: 0.25rem;
    color: #cecfcf;
    position: absolute;
    top: 1.1rem;
    left: -0.2rem;
    transform: rotate(90deg);
}

/*transform:rotate(45deg) 单位deg 正值：顺时针旋转  负值：逆时针旋转*/
#page4 div a:nth-of-type(2) {
    width: 0.01rem;
    height: 2.5rem;
    display: block;
    background: #cecfcf;
    position: absolute;
    top: 0.84rem;
    left: 0.38rem;
    z-index: 3;
}

#page4 div a:nth-of-type(3) {
    font-size: 0.25rem;
    color: #fff;
    position: absolute;
    top: 0.82rem;
    left: 0.5rem;
}

#page4 .f1 {
    width: 3.5rem;
    height: 1rem;
    position: absolute;
    top: 3.3rem;
    left: 2.2rem;
    border: 1px solid #ecfcfc;
    border-radius: 35px;
}

#page4 .f1 span:nth-of-type(1) {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: url(../img/ks.jpg) no-repeat center;
    background-size: 100% 100%;
    vertical-align: middle;
    margin: 0 0.5rem 0 0.03rem;
}

#page4 .f1 span:nth-of-type(2) {
    font-size: 0.25rem;
    color: #cecfcf;
}

#page4 .f2 {
    width: 3.5rem;
    height: 1rem;
    position: absolute;
    top: 5rem;
    left: 2.2rem;
    border: 1px solid #ecfcfc;
    border-radius: 35px;
}

#page4 .f2 span:nth-of-type(1) {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: url(../img/fw.jpg) no-repeat center;
    background-size: 100% 100%;
    vertical-align: middle;
    margin: 0 0.5rem 0 0.03rem;
}

#page4 .f2 span:nth-of-type(2) {
    font-size: 0.25rem;
    color: #cecfcf;
}

#page4 .f3 {
    width: 3.5rem;
    height: 1rem;
    position: absolute;
    top: 6.6rem;
    left: 2.2rem;
    border: 1px solid #ecfcfc;
    border-radius: 35px;
}

#page4 .f3 span:nth-of-type(1) {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: url(../img/yd.jpg) no-repeat center;
    background-size: 100% 100%;
    vertical-align: middle;
    margin: 0 0.5rem 0 0.03rem;
}

#page4 .f3 span:nth-of-type(2) {
    font-size: 0.25rem;
    color: #cecfcf;
}

#page4 div {
    -webkit-animation: zoomIn 2s 0.3s both;
    animation: zoomIn 2s 0.3s both;
}

#page4 p:nth-of-type(1) {
    -webkit-animation: bounceInUp 2s 0.6s both;
    animation: bounceInUp 2s 0.6s both;
}

#page4 p:nth-of-type(2) {
    -webkit-animation: bounceInUp 2s 1.2s both;
    animation: bounceInUp 2s 1.2s both;
}

#page4 p:nth-of-type(3) {
    -webkit-animation: bounceInUp 2s 1.8s both;
    animation: bounceInUp 2s 1.8s both;
}

/*第五页*/
.slide5{
    opacity: 0;
}
#page5 {
    opacity: 1;
    position: relative;
}

#page5 div {
    width: 3rem;
    position: absolute;
    left: 50%;
    top: 0.86rem;
    margin-left: -1.5rem;
    text-align: center;
}

#page5 div span {
    color: white;
    font-size: 0.6rem;
    display: block;
}

#page5 div a:nth-of-type(1) {
    font-size: 0.25rem;
    color: #cecfcf;
}

#page5 div a:nth-of-type(2) {
    width: 2.5rem;
    height: 0.01rem;
    display: block;
    background: #cecfcf;
    position: absolute;
    top: 1.17rem;
    left: 0.21rem;
    z-index: 3;
}

#page5 div a:nth-of-type(3) {
    font-size: 0.25rem;
    color: #cecfcf;
    position: absolute;
    top: 1.2rem;
    left: 0.9rem;
}
#page5 p:nth-of-type(1) {
    width: 2.4rem;
    height: 0.6rem;
    line-height: 0.6rem;
    position: absolute;
    top: 3.5rem;
    left: 50%;
    margin-left: -1.2rem;
}

#page5 p:nth-of-type(1) b {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    background: url(../img/wx.png) no-repeat center;
    background-size: 100% 100%;
    vertical-align: middle;
    margin-right: 0.2rem;
}

#page5 p:nth-of-type(1) a {
    font-size: 0.25rem;
    color: silver;
}

#page5 p:nth-of-type(2) {
    width: 2.4rem;
    height: 0.6rem;
    line-height: 0.6rem;
    position: absolute;
    top: 4.5rem;
    left: 50%;
    margin-left: -1.2rem;
}

#page5 p:nth-of-type(2) b {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    background: url(../img/qq.png) no-repeat center;
    background-size: 100% 100%;
    vertical-align: middle;
    margin-right: 0.2rem;
}

#page5 p:nth-of-type(2) a {
    font-size: 0.25rem;
    color: silver;
}
#page5 p:nth-of-type(3) {
    width: 2.4rem;
    height: 0.6rem;
    line-height: 0.6rem;
    position: absolute;
    top: 5.5rem;
    left: 50%;
    margin-left: -1.2rem;
}

#page5 p:nth-of-type(3) b {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    background: url(../img/phone.png) no-repeat center;
    background-size: 100% 100%;
    vertical-align: middle;
    margin-right: 0.2rem;
}

#page5 p:nth-of-type(3) a {
    font-size: 0.25rem;
    color: silver;
}

#page5 p:nth-of-type(4){
    position: absolute;
    font-size: 0.25rem;
    color: silver;
    top: 6.7rem;
    left: 50%;
    margin-left: -0.8rem;
}
#page5 div{
    -webkit-animation: zoomIn 2s 0s both;
    animation: zoomIn 2s 0s both;
}
#page5 p:nth-of-type(1){
    -webkit-animation: bounceInLeft 2s 0.6s both;
    animation: bounceInLeft 2s 0.6s both;
}
#page5 p:nth-of-type(2){
    -webkit-animation: bounceInRight 2s 0.9s both;
    animation: bounceInRight 2s 0.9s both;
}
#page5 p:nth-of-type(3){
    -webkit-animation: bounceInLeft 2s 1.1s both;
    animation: bounceInLeft 2s 1.1s both;
}
#page5 p:nth-of-type(4){
    -webkit-animation: zoomIn 2s 1.4s both;
    animation: zoomIn 2s 1.4s both;
}